.main {
    display: grid;
    grid-template-columns: 1fr 7fr;
    min-height: 90vh;
}

.navPanel,
.mainPanel {
    min-height: 100%;
    border: 1px solid black;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.alignSelfEnd {
    align-self: end;
}

.justifyContentEnd {
    display: flex;
    justify-content: end;
}

.hide {
    visibility: hidden;
}

.modalParent {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
}

.modalWindow {
    min-width: 15em;
    min-height: 5em;
    padding: 1em;
    border: 0px;
    border-radius: 1em;
    background-color: cornflowerblue;
    cursor: auto;
}

#modalContent {
    display: flex;
    flex-direction: column;
    
}

#modalContent > input {
    margin-bottom: 1em;
}

#modalContent > textarea {
    margin-bottom: 1em;
}

#modalContent > label {
    margin-bottom: .25em;
}

#addTaskButtonsContainer > button {
    margin-left: .25em;
}